<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<html>
<head>
<title>You There?</title>
</head>
<body>

<script>
    document.title = "I'm Here"
    if (((window.location.href).includes("result"))){
        var delayInMilliseconds = 3000;
setTimeout(function() {
  window.location.replace("https://areyouthere.herokuapp.com/");
}, delayInMilliseconds);
    }
    var delayInMilliseconds = 30000;

setTimeout(function() {
  window.location.replace("https://areyouthere.herokuapp.com/");
}, delayInMilliseconds);

</script>
    
<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }
</style>

<script>
function change() {
  var x = document.getElementById("myText").value;
  alert ("The name was changed to: " + x);
  document.title = x
}
</script>

<div>
    <form class="grid" action="/result" method="POST">

        {% if name %}
          <center>
            <h3 style="color: blue;" class="let_space"> {{name}}, </h3>
          </center> 

        {% endif %}
         
        <label for="name">Enter you message:</label>
        <input type="text" id="name" name="name">

        <center><input class="file_submit" type="Submit"></center>

      </form>

    <h1>Welcome!</h1><br>
    <p>This site has been visited {{ count }} times.</p>
    
</div>

</body>
</html>